@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-white font-sans antialiased;
  }
}

@layer utilities {
  .animate-float-slow {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float 6s ease-in-out 3s infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}